{% extends 'main/base.html'  %}


{% block content %}


{% include 'main/nav.html' %}
<div class="container">
    <h1 class="center-align">Projects</h1>

    <div class="row">
        <div class="cols s12 m8">

            <ul class="collapsible">
                <li>
                  <div class="collapsible-header"><i class="material-icons">filter_drama</i>Registration</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">place</i>Portfolio</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">whatshot</i>To do App</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
              </ul>
                    


        </div>
    </div>


</div>





{% endblock %}

{% block script %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });
</script>
  {% endblock %}